<div class="device-head">
    <h5>{{principal.name}}</h5>
</div>
<div class="device box">
    <ul class="main-list">
        <li>
            <small>Name</small>
            <h4>{{principal.name}}</h4>
        </li>
        <li>
            <small>Nitrogen ID</small>
            <h4>{{principal.id}}</h4>
        </li>
        <li>
            <small>Status</small>
            <h4>{{principal.status}}</h4>
        </li>
    </ul>
</div>
