<div class="devices-row">
    {{#each principal in model}}
    {{#link-to 'device' principal tagName=div class="col-md-4 col-xs-12 device link"}}
        {{partial "devicecard"}}
    {{/link-to}}
    {{/each}}
</div>
